<div class="main">
    <!-- The content displayed below the header-->
    <div class="row">
        <div class="sidebar-1">
            <div class="col-fixed">
                <!-- Menu -->
                <div class="menu btn-group-vertical">

                    <div class="tab btn-group" id="tab1">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-tint" aria-hidden="true"></i>
                            <p>ApaCanal</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab2">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                            <p>ComGaz</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab3">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                            <p>Energie</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab4">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
                            <p>Meteo</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab5">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                            <p>Seisme</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div  class="content text-center">
            <ul id="tab1show" class="tab-content col-lg-12 col-md-12 text-center">
                <h3>Title 1</h3>
                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                </li>

                <li class="tab-content col-lg-12 col-md-12 text-center">
                    <h3>Title 1</h3>
                    <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                    <article>
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                            survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                    </article>
                </li>
                <hr>
                <h3>Title 1</h3>
                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                </li>
                <hr>
                <h3>Title 1</h3>
                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                </li>


            </ul>

            <ul id="tab2show" class="tab-content col-lg-12 col-md-12 text-center">
                <h3>Title 2</h3>
                <img src="/assets/images/gaz.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                </li>
                <hr>
                <h3>Title 2</h3>
                <img src="/assets/images/gaz.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                </li>
                <hr>
                <h3>Title 2</h3>
                <img src="/assets/images/gaz.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                    <i class="fa fa-share fa-2x" style="padding-left: 750px;" aria-hidden="true"></i>
                </li>
                <hr>
                <h3>Title 2</h3>
                <img src="/assets/images/gaz.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </li>

            </ul>

            <ul id="tab3show" class="tab-content col-lg-12 col-md-12 text-center">
                <h3>Title 3</h3>
                <img src="/assets/images/electricitate.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has
                        survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>

                </li>
            </ul>

    <!--WEATHER END-->

            <div id="tab4show" style="min-height: 570px;" class="tab-content col-lg-12 col-md-12 text-center">

                 <div id="feed-tabs" class="panel-list cityforecast">
                    <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405" class="arrow-right">Next 5 Days<span></span></a>
                    <ul class="tab-weather">
                        <li class="day current first cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/current-weather/242405">
                            <div class="bg bg-c c">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/current-weather/242405">Vremea curentă</a></h3>
                                <div class="icon i-4-xl"></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">24&deg;</span>
                                        <span class="temp-label">C</span>
                                        <span class="realfeel">RealFeel&#174; 26&#176;</span>
                                    </div>
                                    <span class="cond">Predominant noros</span>
                                </div>
                                <!-- /.info -->
                            </div>
                            <!-- /.bg -->
                            <div class="full-width-button">
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/hourly-weather-forecast/242405">
                                    <div class="cta">Pe ore</div>
                                    <div class="arrow"> &gt; </div>
                                </a>
                            </div>
                        </li>

                        <li class="day hv cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">
                            <div class="bg bg-t">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">Azi</a></h3>
                                <h4>14 mai.</h4>
                                <div class="icon i-15-m "></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">22&deg;</span>
                                        <span class="temp-label">Mx</span>
                                        <span class="realfeel">RealFeel&#174; 24&#176;</span>
                                    </div>
                                    <span class="cond">C&#226;teva averse de ploaie şi furtuni puternice</span>
                                </div>
                                <!-- /.info -->
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1" class="bt-more">Mai mult</a>
                            </div>
                            <!-- /.bg -->
                        </li>
                        <li class="night hv cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">
                            <div class="bg bg-s">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">Seara</a></h3>
                                <h4>14 mai.</h4>
                                <div class="icon i-18-m "></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">11&deg;</span>
                                        <span class="temp-label">Mn</span>
                                        <span class="realfeel">RealFeel&#174; 11&#176;</span>
                                    </div>
                                    <span class="cond">Perioade de ploi, unele abundente şi dimineaţa o furtună</span>
                                </div>
                                <!-- /.info -->
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1" class="bt-more">Mai mult</a>
                            </div>
                            <!-- /.bg -->
                        </li>
                        <li class="day last hv cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=2">
                            <div class="bg bg-r">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=2">M&#226;ine</a></h3>
                                <h4>15 mai.</h4>
                                <div class="icon i-18-m "></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">15&deg;</span>
                                        <span class="temp-label">Mx</span>
                                        <span class="realfeel">RealFeel&#174; 14&#176;</span>
                                    </div>
                                    <span class="cond">Ploaie şi burniţă ocazională</span>
                                </div>
                                <!-- /.info -->
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=2" class="bt-more">Mai mult</a>
                            </div>
                            <!-- /.bg -->
                        </li>
                    </ul>
                  </div>
                <br>
                <p style="color:#ee5a00; font-weight: bold;">©AccuWeather</p>
            </div>

                <!-- SEISME CONTENT-->
            <div id="tab5show" class="tab-content col-lg-12 text-center">
                <!-- API KEY = AIzaSyAwKfBjk-dZfD2yr3rtNgGYzpMd_AEygrc-->
                  <div id="map"> </div>
                  <div id="list">
                      <div class="title" style=" font-size:15px; padding-top: 35px;">
                          <p  >Seisme recente:</p>
                      </div>
                      <div class="eq-list"></div>
                  </div>
            </div>

        <div class="sidebar-2 ">
            <div class="inner-sidebar-2 text-center">
                <!-- DESIGN CHAT-->
                <div class="chat_window">

                    <div class="top_menu">
                        <div class="title">
                            <i class="fa fa-commenting" style="font-size:20px; "></i> Group Chat
                        </div>
                    </div>

                    <ul class="messages"></ul>
                    <div class="bottom_wrapper clearfix">
                        <div class="message_input_wrapper">
                            <input class="message_input form-control" id="form-control" placeholder="Spune ce crezi"></div>
                            <span  class="send btn btn-default"> Send </span>
                    </div>
                </div>

                <div class="message_template">
                    <li class="message">
                        <div class="avatar text-center"></div>
                        <div class="text_wrapper">
                            <div class="text"></div>
                            <time datetime="2009-11-13T20:00">acum•1 min</time>
                        </div>
                    </li>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</body>


<!--
<div class="row">
    {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{{body}}}

</div>
