

<div class="main">
    <!-- The content displayed below the header-->
    <div class="row">
        <div class="sidebar-1">
            <div class="col-fixed">
                <!-- Menu -->
                <div class="menu btn-group-vertical">

                    <div class="tab btn-group" id="tab1">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-tint" aria-hidden="true"></i>
                            <p>ApaCanal</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab2">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-fire" aria-hidden="true"></i>
                            <p>ComGaz</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab3">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-bolt" aria-hidden="true"></i>
                            <p>Energie</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab4">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
                            <p>Meteo</p>
                        </button>
                    </div>

                    <div class="tab btn-group" id="tab5">
                        <button type="button" class="btn btn-nav">
                            <i class="fa fa-bullseye" aria-hidden="true"></i>
                            <p>Seisme</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div  class="content text-center">
            <ul id="tab1show" class="tab-content col-lg-12 col-md-12 text-center">
                <h3>ApăCanal</h3>
                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p class="txt">
                        În legătură cu executarea unor lucrări de înlocuire a robinetelor şi contoarelor din str. I. Creangă, 82/1; V. Coroban,
                        22/1; D.I. Aldea-Teodorovici,17. S.A. „Apă-Canal Chişinău” este nevoită să întrerupă furnizarea apei potabile marţi ,
                        13 iunie 2017, în intervalul 09:00–17:00. Vor fi afectaţi de <b>lipsa apei potabile consumatorii din următoarele străzi:</b>
                        I.Creangă, 82,inclusiv cu fracţii; Alba Iulia, 1-5; N.Costin,57; Suceviţa, 16-18; O.Ghibu; V. Coroban, 22, inclusiv cu fracţii;
                        D.I. Aldea-Teodorovici,13-17.
                    </p>
                    <br>
                </li>

                <hr>
                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p class="txt">
                        Vă aducem la cunoştinţă, că în conformitate cu prevederile Hotărârii  Consiliului de administraţie al Agenţiei Naţionale pentru Reglementare
                        în Energetică nr. 203/2017,
                        cu începere din 26.05.2017, pentru consumatorii casnici se vor aplica <b>următoarele tarife</b>: <br>
                        a) pentru serviciul public de alimentare cu apă potabilă prestat: 8, 65 lei/m3;<br>
                        b) pentru serviciul public de canalizare: 2, 04 lei/m3;<br>
                        c) pentru serviciul public de alimentare cu apă tehnologică:8, 86 lei/m3.<br>
                    </p>
                    <br>
                </li>
                <hr>

                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p class="txt">
                        În legătură cu executarea lucrărilor planificate, din bd. Dacia, 42, S.A. „Apă-Canal Chişinău” este nevoită să
                        întrerupă furnizarea apei potabile marţi, 13 iunie 2017, în intervalul 09:00–20:00. <b>Vor fi afectaţi de lipsa apei
                        potabile</b> consumatorii din bd. Dacia,
                        42-50, inclusiv cu fracţii, Valea Crucii, 2-4, inclusiv cu fracţii, Independenţii, 42-54, inclusiv cu fracţii.
                    </p>
                    <br>
                </li>
                <hr>

                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p class="txt">
                        Pe parcursul zilelor de sâmbătă şi duminică, colaboratorii S.A. ”Apă-Canal Chişinău” au executat <b>lucrări de remediere </b>a 66
                        de avarieri la reţelele de apeduct, majoritatea fiind din oţel, cu diametrul cuprins între 50-400 mm. Totodată,
                        au fost realizate lucrări de înlăturare a blocajelor la reţelele de canalizare conform celor 55 fişe de lucru deschise.
                    </p>
                    <br>
                </li>

                <hr>

                <img src="/assets/images/apa-canal.png" alt="post img" class="apa-canal pull-left">
                <li>
                    <p class="txt">
                        Subliniem faptul, că pe parcursul zilei de 7 iunie curent, echipele întreprinderii au
                        efectuat lucrări planificate de  înlocuire a unui segment de apeduct din oţel cu diametrul de
                        400 mm din str. Calea Ieşilor intersecţie cu str. Ghidighici din capitală,
                        fapt ce ar putea cauza desprinderea microparticulelor de calcar şi fier de pe ţevi care duc
                        la colorarea apei de la robinet.
                    </p>
                    <br>
                </li>
                </p>



            </ul>

            <ul id="tab2show" class="tab-content col-lg-12 col-md-12 text-center">
                <h3>Chișinău-Gaz</h3>
                <img src="/assets/images/gaz.png" alt="post img" class="gaz pull-left">
                <li>
                    <p>
                        SRL „Chişinău-gaz” informează despre <b> sistarea distribuţiei gazelor naturale din data de 01.01.2017</b> din perimetru străzilor:
                        Asronauţilor, Novigatorilor, bd. Dacia 65-83 şi perimetru străzilor: bd. Dacia 60, pînă la str. Aeroport.
                        <br>
                        Sistarea are loc pe motivul efectuării lucrărilor planificate asupra reţelelor existente, în scopul asigurării
                        distribuţiei fiabile a gazelor naturale.
                    </p>
                </li>
                <br>
                <hr>
                <img src="/assets/images/gaz.png" alt="post img" class="gaz pull-left">
                <li>
                    <p>
                        SRL „Chişinău-gaz” informează despre <b>sistarea distribuţiei gazelor naturale din data de 15.10.16 </b>pînă la data de 22.10.15, între orele 08:00-17:00, în localităţile Codru şi Durleşti, conform graficului:
                        Or. Codru:
                        15.10.15 – str. Soarelui, str-la 1,2,3 Soarelui, str. Valea Apelor;
                        19.10.15 – str. Costiujeni 32-54;
                        20.10.15 – str. Costiujeni 22, str. Sf. Pavel 1-7, Sf. Ion 4-18, Sf. Petru 1-12;
                        21.10.15 – str. Sf. Nicolai 99, 46.
                        Sistarea are loc pe motivul efectuării lucrărilor planificate asupra reţelelor existente, în scopul asigurării distribuţiei fiabile a gazelor naturale.
                    </p>
                </li>
                <br>
                <hr>

                <img src="/assets/images/gaz.png" alt="post img" class="gaz pull-left">
                <li>
                    <p class="txt">
                        SRL „Chişinău-gaz” informează despre <b>sistarea distribuţiei gazelor naturale din data de 14.09.2016</b> până în data de 18.09.2015 în or. Durlești,
                        în perimetrul străzilor: str. Stejarului, str- la Rezistenței, str. Calea Unirii, str-la 1,2,3 Calea Unirii, str-la 1,2,3,4 Vovințeni,
                        str. Decebal, str. Barbu Lăutarul,
                        str-la 1,2 Tudor Vladimirescu, str. Toma Alimoș, str. Renașterii nr. 6, str-la 6,10 Balcani și str. Păcii 1/1.
                    </p>
                </li>
                <br>
                <hr>

                <img src="/assets/images/gaz.png" alt="post img" class="gaz pull-left">
                <li>
                    <p>
                        SRL „Chişinău-gaz” informează despre <b>sistarea distribuţiei gazelor naturale în perioada 06.03.2016 — 10.03.2016 </b>în satul Ghidighici din municipiul Chişinău.

                        Sistarea are loc din motivul verificării la etanşeitate a reţelelor de gaze naturale cu presiune medie şi joasă.
                        Lucrările planificate sunt realizate cu scopul pregătirii reţelelor de gaze naturale pentru sezonul toamnă-iarnă 2016-2017.
                    </p>
                </li>
                <br>
                <hr>
                <img src="/assets/images/gaz.png" alt="post img" class="gaz pull-left">
                <li>
                    <p>
                        SRL „Chişinău-gaz” informează despre <b>sistarea distribuţiei gazelor naturale în perioada 20.02.2016 — 24.02.2016 </b>în satul Truşeni din municipiul Chişinău.

                        Sistarea are loc din motivul verificării la etanşeitate a reţelelor de gaze naturale cu presiune medie şi joasă. Lucrările planificate sunt realizate
                        cu scopul pregătirii reţelelor de gaze naturale pentru sezonul toamnă-iarnă 2016-2017.
                    </p>
                </li>
                <br>
            </ul>

            <ul id="tab3show" class="tab-content col-lg-12 col-md-12 text-center">
                <h3>Title 3</h3>
                <img src="/assets/images/electricitate.png" alt="post img" class="apa-canal pull-left">
                <li class="energy">
                    <p>
                        <!--Here will be putted parsed data-->
                    </p>
                </li>
            </ul>

    <!--WEATHER END-->

            <div id="tab4show" style="min-height: 570px;" class="tab-content col-lg-12 col-md-12 text-center">

                 <div id="feed-tabs" class="panel-list cityforecast">
                    <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405" class="arrow-right">Next 5 Days<span></span></a>
                    <ul class="tab-weather">
                        <li class="day current first cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/current-weather/242405">
                            <div class="bg bg-c c">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/current-weather/242405">Vremea curentă</a></h3>
                                <div class="icon i-4-xl"></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">24&deg;</span>
                                        <span class="temp-label">C</span>
                                        <span class="realfeel">RealFeel&#174; 26&#176;</span>
                                    </div>
                                    <span class="cond">Predominant noros</span>
                                </div>
                                <!-- /.info -->
                            </div>
                            <!-- /.bg -->
                            <div class="full-width-button">
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/hourly-weather-forecast/242405">
                                    <div class="cta">Pe ore</div>
                                    <div class="arrow"> &gt; </div>
                                </a>
                            </div>
                        </li>

                        <li class="day hv cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">
                            <div class="bg bg-t">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">Azi</a></h3>
                                <h4>12 mai.</h4>
                                <div class="icon i-4-m "></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">25&deg;</span>
                                        <span class="temp-label">Mx</span>
                                        <span class="realfeel">RealFeel&#174; 24&#176;</span>
                                    </div>
                                    <span class="cond">Nori și soare</span>
                                </div>
                                <!-- /.info -->
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1" class="bt-more">Mai mult</a>
                            </div>
                            <!-- /.bg -->
                        </li>
                        <li class="night hv cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">
                            <div class="bg bg-s">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1">Seara</a></h3>
                                <h4>13 mai.</h4>
                                <div class="icon i-35-m "></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">14&deg;</span>
                                        <span class="temp-label">Mn</span>
                                        <span class="realfeel">RealFeel&#174; 11&#176;</span>
                                    </div>
                                    <span class="cond">Perioade de ploi, unele abundente şi dimineaţa o furtună</span>
                                </div>
                                <!-- /.info -->
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=1" class="bt-more">Mai mult</a>
                            </div>
                            <!-- /.bg -->
                        </li>
                        <li class="day last hv cl" data-href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=2">
                            <div class="bg bg-r">
                                <h3><a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=2">M&#226;ine</a></h3>
                                <h4>13 mai.</h4>
                                <div class="icon i-17-m "></div>
                                <div class="info">
                                    <div class="temp">
                                        <span class="large-temp">23&deg;</span>
                                        <span class="temp-label">Mx</span>
                                        <span class="realfeel">RealFeel&#174; 20&#176;</span>
                                    </div>
                                    <span class="cond">O aversă de ploaie sau furtună</span>
                                </div>
                                <!-- /.info -->
                                <a href="http://www.accuweather.com/ro/md/chiinu/242405/daily-weather-forecast/242405?day=2" class="bt-more">Mai mult</a>
                            </div>
                            <!-- /.bg -->
                        </li>
                    </ul>
                  </div>
                <br>
                <p style="color:#ee5a00; font-weight: bold;">©AccuWeather</p>
            </div>

                <!-- SEISME CONTENT-->
            <div id="tab5show" class="tab-content col-lg-12 text-center">
                <!-- API KEY = AIzaSyAwKfBjk-dZfD2yr3rtNgGYzpMd_AEygrc-->
                  <div id="map"> </div>
                  <div id="list">
                      <div class="title" style=" font-size:15px; padding-top: 35px;">
                          <p  >Seisme recente:</p>
                      </div>
                      <div class="eq-list"></div>
                  </div>
            </div>

        <div class="sidebar-2 ">
            <div class="inner-sidebar-2 text-center">
                <!-- DESIGN CHAT-->
                <div class="chat_window">

                    <div class="top_menu">
                        <div class="title">
                            <i class="fa fa-commenting" style="font-size:20px; "></i> Group Chat
                        </div>
                    </div>

                    <ul class="messages"></ul>
                    <div class="bottom_wrapper clearfix">
                        <div class="message_input_wrapper">
                            <input class="message_input form-control" id="form-control" placeholder="Spune ce crezi"></div>
                            <span  class="send btn btn-default"> Send </span>
                    </div>
                </div>

                <div class="message_template">
                    <li class="message">
                        <div class="avatar text-center"></div>
                        <div class="text_wrapper">
                            <div class="text"></div>
                            <time datetime="2009-11-13T20:00">acum•1 min</time>
                        </div>
                    </li>
                </div>

            </div>
        </div>
    </div>
</div>
</div>
</body>


<!--
<div class="row">
    {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
    {{/if}}

    {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
    {{/if}}

    {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
    {{/if}}

    {{{body}}}

</div>
